.vscode/settings.json
.vscode/launch.json
go.sum
cronjob/bin/executable_go
go.sum

cronjob/tmp
webApplication/__debug_bin3873649647.exe
webApplication/various/bus-telematics-firebase.json
kube/certificate/private.key
kube/certificate/certificate.crt
